{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <main class="content">
        <div class="container-fluid">

            <div class="header">
                <h1 class="header-title">
                    Single Address Geocoding
                </h1>
                {% include 'nav.html' %}
                {# Messages here #}
                {% include 'messages.html' %}
                {# Messages End here #}
            </div>
            {# Single Geocoding Forms #}
            <section class="section">
                <div class="row align-items-top">
                    <div class="col-lg-6">

                        <!-- Default Card -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Instructions for use</h5>
                                <p>Enter a place-name in the search box below to see the location on the map and to
                                    get the
                                    coordinates</p>
                            <p>(For example - <code>31 Ridgeway North, Highlands, Harare</code>)</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="placeName" class="form-label">Place Name</label>
                                        {{ form|crispy }}
                                        <div id="placeHelp" class="form-text">Enter a Place Name or an Address.
                                        </div>
                                    </div>
                                    <div class="form-check form-switch mb-3">
                                        {% if user.is_authenticated %}
                                            <input class="form-check-input" name="saved" type="checkbox"
                                                   id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Save my
                                                data</label>
                                        {% else %}
                                            <span class="badge rounded-pill bg-warning text-dark">Only logged in users can save
                                    their results</span>
                                        {% endif %}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Geocode</button>
                                </form>

                                {% if lat and lon %}

                                    <hr>

                                    <p>
                                        <small>All coordinates are in Latitude and Longitude (Lat, Lon) format. You
                                            can use our <a
                                                    href="#">coordinate conversion</a> tool to get
                                            the format you desire
                                        </small>
                                    </p>

                                {% endif %}
                            </div>
                        </div><!-- End Default Card -->
                    </div>

                    <div class="col-lg-6">
                        <!-- Default Card -->
                        <div class="card">
                            <div class="card-body">
                                {% if lat and lon %}
                                <h5 class="card-title">Result</h5>
                                    <p><small>Results are dependant on Open-Street Map user input.</small></p>
                                    <!-- geocoding results -->
                                    <p>Address: <samp>{{ last_item }}</samp></p>
                                    <p>Latitude: <samp>{{ lat }}</samp></p>
                                    <p>Longitude: <samp>{{ lon }}</samp></p>
                                    <p>JSON Response:
                                    <code>{{ everything|safe }}</code></p>
{#                                {{ m |safe }}#}
                                <div id='map'></div>
                                {% else %}
                                    <div class="alert alert-primary alert-outline-coloured alert-dismissible" role="alert">
                                    <div class="alert-icon">
                                        <i class="far fa-fw fa-bell"></i>
                                    </div>
                                    <div class="alert-message">
                                        Enter a name in the Search-box and click the <strong>Geocode</strong> button get
                                        the
                                        location and coordinates. You can also
                                        store the results by toggling the <strong>Save my data</strong> button
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div><!-- End Default Card -->
                    </div>
                </div>
            </section>
            {# Single Geocoding Forms End #}
        </div>
    </main>
    {# Geocoding Forms End here #}

    {# Configure Map JS #}
   {% include 'geocoder/geocoder_map.html' %}
    {# End of Map JS #}

{% endblock content %}