{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="content">
        <div class="container-fluid">

            <div class="header">
                <h1 class="header-title">
                    Computations | Home
                </h1>
                {% include 'nav.html' %}
                {# Messages here #}
                {% include 'messages.html' %}
                {# Messages End here #}
            </div>
            {# The Page Content then comes here #}
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Join</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Given two coordinate pairs, find the distance and direction between the two coordinate pairs</p>
                            <a href="{% url 'join_computation' %}" class="btn btn-primary">Launch</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Polar</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Given a coordinate, distance and direction, find the coordinate of the unknown (mystery) point</p>
                            <a href="{% url 'polar_computation' %}" class="btn btn-primary">Launch</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Intersection & Resection </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Determine unknown coordinates by using the best scenario of the data you currently have</p>
                            <a href="{% url 'intersection_and_resection_home' %}" class="btn btn-primary">Launch</a>
                        </div>
                    </div>
                </div>
                {# End of Page content here #}
            </div>

            {# Second Role #}
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" aria-hidden="true">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Traversing</h5>
                        </div>
                        <div class="card-body">
                                <p class="card-text">Given a starting point coordinates (X, Y), adding both 
                                    distance and angle for each station, calculate coordinates of the end point. 
                                </p>
                            <a href="{% url 'traverse' %}" tabindex="-1" class="btn btn-primary">Launch</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" aria-hidden="true">
                       <div class="card-header">
                            <h5 class="card-title mb-0">Leveling</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Using the Rise & Fall method, given a starting height with staff readings in-between, determine the last 
                                points height
                            </p>
                            <a href="{% url 'leveling' %}" tabindex="-1" class="btn btn-primary">Launch</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Unit Conversions</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Convert from one unit to the other</p>
                            <a href="#" class="btn btn-primary">Launch</a>
                        </div>
                    </div>
                </div>
                {# End of Page content here #}
            </div>
    </main>

{% endblock content %}