{% autoescape off %}  
Hi {{ user }},

Welcome to My-Surveyor - Zimbabwe's digital platform for Geospatial Engineers.

We believe you will like it here. Our platform is always available at {{ domain }}. Please feel free to schedule a
demo of the platform by emailing us on kumbirai@kms.co.zw.

What is currently available?
    - Geodetic Control Network App
    The application is being used to easily find control points in Zimbabwe with some added functionality that we believe
    will be of relevance to your work

    - Geocoding

* more features are currently on their way. And yes, you can also request some additional features by responding to this email


Regards

Kumbirai (Surveyor-Jr)
GIS Developer & Founder
KM-Spatial

{% endautoescape %}