{% extends 'base.html' %}
{% block content %}

    {# Instructions on Payment making come here #}
    <main class="content">
        <div class="container-fluid">

            <div class="header">
                <h1 class="header-title">
                    Payment (Subscription) Information
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Blank</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{% now "D d M, Y" %} Subscription Status</h5>
                        </div>
                        <div class="card-body">
                            <div class="my-5">
                                {# Status Notification #}
                                {# TODO: Check if current subscription expired #}
                                <div class="alert alert-danger alert-outline-coloured alert-dismissible" role="alert">
                                    <div class="alert-icon">
                                        <i class="far fa-fw fa-bell"></i>
                                    </div>
                                    <div class="alert-message">
                                        <strong>You currently do not have any active subscriptions
                                    </div>
                                </div>
                            </div>
                            <div class="my5">
                                {# Instructions, Steps and Information #}
                                <p>Payment instructions and information here</p>
                            </div>
                            {# Button to proceed to payment page #}
                            <div class="mb-3">
                                <a href="{% url 'make_payment' %}" type="button" class="btn btn-primary">Proceed to Payment</a>
                                <button class="btn btn-warning" disabled>Cancel Subscription</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    {# Instructions end here #}

{% endblock %}