{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <main class="content">
        <div class="container-fluid">

            <div class="header">
                <h1 class="header-title">
                    Profile
                </h1>
                {% include 'nav.html' %}
                {# Messages here #}
                {% include 'messages.html' %}
                {# Messages End here #}
            </div>
            <div class="row">

                {# profile sub-menu starts #}
                {% include 'users/profile_sub_menu.html' %}
                {# profile sub-menu ends #}

                <div class="col-md-9 col-xl-10">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="account" role="tabpanel">

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Profile Details</h5>
                                </div>
                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="mb-3">
                                                    <label for="inputUsername">Username</label>
                                                    <small style="color: red">Due to security reasons, username changes are currently restricted.
                                                    <a href="{% url 'contact_us' %}">Contact us</a> if it <strong>ONLY</strong> necessary and affects your work </small>
                                                    <input type="text" class="form-control" id="inputUsername"
                                                           value="{{ user.username }}" placeholder="Username" readonly>
                                                </div>
                                                <div class="mb-3">
                                                    {{ u_form|crispy }}
                                                    <h3 class="mb-3">Profile Information</h3>
                                                    {{ p_form|crispy }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-center">
                                                    <img alt="Chris Wood" src="{{ user.profile.profile_pic.url }}"
                                                         class="rounded-circle img-responsive mt-2"
                                                         width="128" height="128"/>
                                                    <br><small style="color: red">Profile pictures will be changable in future versions</small>
                                                    {#                                                    <div class="mt-2">#}
                                                    {#                                                        <span class="btn btn-primary"><i class="fas fa-upload"></i> Upload</span>#}
                                                    {#                                                    </div>#}
                                                    {#                                                    <small>For best results, use an image at least 128px by 128px in#}
                                                    {#                                                        .jpg#}
                                                    {#                                                        format</small>#}
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>

                                </div>
                            </div>

                            {#                            <div class="card">#}
                            {#                                <div class="card-header">#}
                            {#                                    <h5 class="card-title mb-0">Profile Information</h5>#}
                            {#                                </div>#}
                            {#                                <div class="card-body">#}
                            {#                                    <form method="POST">#}
                            {#                                        {% csrf_token %}#}
                            {#                                        <div class="mb-3">#}
                            {#                                            {{ p_form|crispy }}#}
                            {#                                        </div>#}
                            {##}
                            {#                                        <div class="text-center mt-3">#}
                            {#                                            <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>#}
                            {#                                        </div>#}
                            {#                                    </form>#}
                            {##}
                            {#                                </div>#}
                            {#                            </div>#}

                        </div>
                        <div class="tab-pane fade" id="password" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Password</h5>

                                    <form>
                                        <div class="mb-3">
                                            <label for="inputPasswordCurrent">Current password</label>
                                            <input type="password" class="form-control" id="inputPasswordCurrent">
                                            <small><a href="#">Forgot your password?</a></small>
                                        </div>
                                        <div class="mb-3">
                                            <label for="inputPasswordNew">New password</label>
                                            <input type="password" class="form-control" id="inputPasswordNew">
                                        </div>
                                        <div class="mb-3">
                                            <label for="inputPasswordNew2">Verify password</label>
                                            <input type="password" class="form-control" id="inputPasswordNew2">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}